:root {
  --darkblue:#4985BA;
  --whiteblue:#D4EBFF;
  --menosdark:#5295D1;
  --blue:#5AA6E8;
  --lightblue:#8DC9FF;
  --bgcolor:#f7fbff;
  --margin:15px;  
  --tmargin:calc(var(--margin) * 3);
  --dmargin:calc(var(--margin) * 2);
  --minimargin:5px;
  --grey:#272727;
  --high:#FF4303;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

html {
  font-size: 16px;
  color:var(--grey);  
  }

.item-title a{
  font-size:18px;
  }

body {
  font-family:'Lato', sans-serif;
  display:flex;
  flex-flow: column;
  min-height: 100vh;
  background:var(--bgcolor);
  }

main {
  flex:1 0 100%;
  margin-top: var(--dmargin);
  }

h1 {
  font-weight: 400;
  font-size: 60px;
  }


#blog-header {
  font-size:35px;
  margin-bottom:var(--margin);
}

p {
  line-height:120%;
  }

.intro{
  text-align:center;
  display:flex;
  flex-flow: row wrap;
  align-items:flex-start;
  justify-content: space-between;
  }

.intro img {
  display:block;
  height:auto;
  width:40%;
  flex:1 0 auto;
  }

.intro h1{
  margin-bottom:var(--margin);
  }

.intro-box {
  max-width: 541px;
  text-align:left;
  font-size:1.25rem;
  font-weight:300;
  width:50%;
  margin-right:var(--margin);
  /*width:calc(100% - var(--dmargin));*/
  }

.navigation {
  list-style: none;
  margin: 0;
  margin-top:var(--margin);
  
  /*background: var(--darkblue);*/
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}


.navigation a , .grid-container a {
  text-decoration: none;
  display: block;
  padding-bottom: 2px;
  color: var(--grey);
  transition: all 0.2s ease;
}

.grid-container a{
  color:var(--whiteblue);
  }
.navigation a{
  border-bottom: 2px solid var(--bgcolor);
  }


.navigation a:not(:last-child) {
  margin-right: var(--margin);
  }


.navigation .nav-left {
  margin-right:auto; 
  color: var(--darkblue);
  }

a.active {
  color:var(--darkblue);
  }

.navigation a:hover, .grid-container a:hover, .goto a:hover{
  color: var(--grey) ;
  border-bottom-color:var(--darkblue); 
}


.goto {
  display:flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-top:var(--margin);
  }

.goto a {
  text-decoration:none;
  color: var(--grey);
  transition: all 0.2s ease;
  padding-bottom:2px;
  border-bottom: 2px solid var(--high);
  font-size: 1rem;
  font-weight:400;
  }

.goto a:first-child {
  margin-right: var(--margin);
  }

div.grid-container{
  display: grid;  
  grid-gap: var(--dmargin);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
  align-items: stretch;
  }

div.item {
  background: var(--whiteblue);
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  }

div.item-title{
  order:1;
  margin-bottom:var(--dmargin);
  padding:var(--margin);
  align-items:center;
  background-color:var(--darkblue);
  display:flex;
  min-height:80px;
  color:var(--whiteblue);
  flex-flow:row;
  }

div.item-summary{
  order:2;
  display:flex;
  flex-flow:row;
  padding:var(--margin);
  margin-bottom:var(--dmargin);
  font-weight:300;
  }

div.item-pubdate{
  order:3;
  text-align:right;
  margin:var(--margin);
  }

div.featured-blog-container{
  display:grid;
  grid-template-columns:1fr;
  margin-bottom:var(--margin);
  justify-content:center;
  font-weight:300;
  }

#featured-title{
    font-size:30px;
    font-weight:300;
    color: var(--darkblue);
    align-items:center;
    display:flex;
    margin-bottom:var(--margin);
}

#featured-summary{
font-size:18px;
}


@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }

  .container {
  width:calc(100% - var(--dmargin));
  }

div.grid-container{
  grid-template-columns: 1fr;
  }
}


@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: wrap;
    flex-flow:  wrap;
    padding: 0;
  }
  .navigation .nav-left{
    margin: 0;
    width:100%;
    display:block;
    }

  .navigation a, .navigation .nav-left, .goto a {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }



  .navigation li:last-of-type a {
    border-bottom: none;
  }

  .container {
  width:calc(100% - var(--dmargin));
  }

  .intro-box {
    width:100%;
    margin-bottom: var(--margin);
    margin-right:0;
    }

  .intro img{
     width:100%;
     margin:auto;
    }
div.grid-container{
  grid-template-columns: 1fr;
  }

div.featured-blog-container{
  grid-template-columns:1fr;
  justify-content:center;
  }
#featured-title{
  font-size:20px;
  }

#blog-header{
  font-size:22px;
  }

#featured-summary{
font-size:16px;
}
  html{
    font-size:14px;
    }
}


.container {
  max-width:800px;
  margin:auto;
  }

#footer {
  margin-top: var(--margin);
  text-align: center;
  margin-bottom: var(--margin);
  }

hr.container {
  margin-top:var(--dmargin);
  margin-bottom:var(--dmargin);
  border-top:1px solid rgba(0,0,0,.1);
  }

hr {
  margin-top: var(--minimargin);
  margin-bottom:var(--dmargin);
  border-top:1px solid rgba(0,0,0,.1);
  }


#featured-image{
width:100%;
height:auto;
}

.red {
  border-top:1px solid var(--high);
  }

#featured-date{
  font-weight:300;
  text-align:end;
  margin-top:var(--margin);
  }

.featured-blog-container a{
 text-decoration: none;
 color: var(--darkblue);
}

/* markdown */
.markdown strong{
  color:var(--high);
  font-weight:300;
  }

.markdown p{
  margin-bottom:var(--minimargin);
  }
