{% extends 'jobs/base.html' %}
{% block content %}
<main>
  <div class="container">
    <h1 id="blog-header">Welcome to my Blog</h1>
    <hr>
    <div class="grid-container">
      {% for blog in blogs.all %}
      <div class = "item">
        <div class="item-title">
          <a href="{% url 'detail' blog.id %}">{{ blog.title }}</a>
        </div>
        <div class="item-pubdate">
          <p>{{ blog.pub_date }}</p>
        </div>
        <div class="item-summary">
          <p>{{ blog.summary }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock %}
