
/*
circle, line and labels
*/
.cat-line {
  stroke: var(--high);
}
circle.circle-low {
    fill: #bbb;
    fill-opacity: .8;
  }
circle.circle-high {
    fill: var(--high);
    fill-opacity: .8;
  }
text.node-label-low{
    fill: #bbb;
    font-size:14px;
}
text.node-label-high{
  fill: var(--high);
  font-size:14px;
}


/*
map
*/
path.points {
  stroke-width: 1px;
  stroke: var(--darkblue);
  fill: var(--darkblue);
  cursor: pointer;
}

.leaflet-overlay-pane svg path{
  pointer-events: auto;
}

#vis-container {
  color:var(--ahover);
  position: relative;
  width: 100%;
  height: 60vh;
}

#vis-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
}

@media  only screen  and (max-width: 600px){
  #vis-container{
  height:60vh;
  }  
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}

#map svg {
  position: relative;}

  div.tooltip {	
    z-index:20;
    text-align: center;			
		position:absolute;
    min-height: 28px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;		
    background: var(--bgcolor);
    opacity:0.8;
    border: 1px solid rgb(26, 26, 26);
    border-radius: 8px;			
    color:var(--ahover);
    display:none;
    align-items: center;
}

/*
infodiv
*/

div.info-div {	
  z-index:20000;			
  position:absolute;
  bottom:18px;
  right:0px;
padding:5px;
  font-size: 14px;		
  background: var(--bgcolor);
  opacity:0.9;
  border: 1px solid rgb(26, 26, 26);
  border-radius: 8px;			
  color: var(--grey);
  display:none;
  flex-flow:column;
  max-width:400px;
  font-weight:300;
}

.info-div-name{
  font-size:20px;
  color:var(--high);
  font-weight:400;
}
.label-info-div{
  font-weight:400;
  color:rgb(27, 27, 27);
  font-size:14px;
}

/*close button*/
.close {
  position: absolute;
  right: 2px;
  top: 2px;
  width: 25px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  top: 2px;
  content: ' ';
  height: 15px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

/*
    z-index: 20000;
    position: absolute;
    bottom: 18px;
    right: 0px;
    max-width: 300px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    background: rgba(255,255,255,0.8);
    border: 1px solid rgb(26, 26, 26);
    border-radius: 8px;
*/

/*date slider
*/

.track,
.track-range,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track, .track-range {
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track{
  stroke: #000;
  }

.track-range{
  stroke:blue;
  }

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
  cursor:grab;
}

.label{
  font-size:12px;
  }
#slider-div label{
  position:relative;
  top:10px;
}

#slider-div{
    display: flex;
    flex-flow: column;
    align-items: center;
  }


/*
dropdown menu
*/
ul {
  list-style: none;
}

li {
  color: #fff;
  background: var(--blue);
  display: block;
  /*float: left;*/
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
  
li a {
  color: #fff;
}

li:hover,
li:focus-within {
    background: var(--high);
    cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block
}

ul li ul li {
  /*clear: both;*/
  width: 100%;
}

.category-container{
  max-height:300px;
  overflow-y:scroll;
}
#clear-cat{
  background:var(--blue);
}

.col-selector{
  display:flex;
  position:relative;
  top:50px;
  justify-content: space-between;
  
}
.ul-selector{
  max-width:250px;
}
#chart-area{

  max-width:750px;
  margin:auto;
  position:relative;

}
.shuffle-selector{
  position:absolute;
  bottom:0px;
  display:flex;
  width:100%;
  justify-content: space-between;
}

@media  only screen  and (max-width: 600px){
  .col-selector{
  top:0;
  }  
}

.blog-text{
  margin-bottom:var(--margin);
}

blog-text strong{
  color: var(--high);
}

.blog-text p{
  margin-bottom:var(--margin);
  font-weight:300;
}

.add-margin-top{
  margin-top:var(--margin);
}


/*
Autocomplete
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_autocomplete
*/

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  font-size:13px;
  border: 1px solid transparent;
  background-color: var(--whiteblue);
  padding: 4px;

}

input[type=text] {
  background-color: var(--whiteblue);
  width: 100%;
}

input[type=submit] {
  background-color: var(--blue);
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  font-size:14px;
  max-height:200px;
  overflow-y:scroll;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: var(--blue) ; 
  color: var(--darkblue); 
}

#auto-complete-container{
  margin-bottom:5px;
  display: flex;
  justify-content: space-between;
}

.autocomplete{
  width:200px;

}

@media  only screen  and (max-width: 600px){
  #auto-complete-container{
    margin-bottom:5px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    font-size:14px;
    justify-content: center;
    align-items:center;
    align-content: center;
  }
  .autocomplete{
    width:150px;
    margin-bottom:5px;}

    div.info-div {	
      font-size: 11px;		
      background: var(--bgcolor);
      opacity:0.9;
      border: 1px solid rgb(26, 26, 26);
      border-radius: 8px;			
      color: var(--grey);
      display:none;
      flex-flow:column;
      max-width:300px;
      font-weight:300;
    }
    
    .info-div-name{
      font-size:14px;
      color:var(--high);
      font-weight:400;
    }
    .label-info-div{
      font-weight:400;
      color:rgb(27, 27, 27);
      font-size:12px;
    }




}