<!DOCTYPE html>
<html lang="en-US">
  <head>
    {% load staticfiles  %}
    <meta charset="UTF-8">
    <meta name="description" content="Portfolio and Blog">
    <meta name="keywords" content="Python, PostgreSQL, PostGIS, GIS">
    <meta name="author" content="Bruno Carballo">
    <script type="text/javascript" charset="utf-8">var STATIC_PATH = "{% static './' %}"</script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    {% block libraries %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page_title}}</title>
  </head>
  <body>
      <header id="header">
        <div class="container">
        <nav class="navigation">
          <span class="nav-left">Bruno Carballo</span>
          {% url 'home' as home_url %}
          {% url 'allblogs' as blogs_url %}
          <a href="{% url 'home' %}" {% if request.path == home_url  %} class="active" {% endif %}>Home</a>
          <a href="{% url 'allblogs' %}" {% if request.path == blogs_url  %} class="active" {% endif %}>Blog</a>
          <a href="https://github.com/godinenbicicleta">GitHub</a>
          <a href="{% static 'cv.pdf'%}">Resume</a>
        </nav>
        </div>
      </header>
      {% block content%}
      {% endblock %}
      <footer id="footer">
      <div class="container">
        <p>© Bruno Carballo {% now 'Y' %}</p>
      </div>
      </footer>
  {% block mycode %}
  {% endblock %}
  </body>
</html>
