<!DOCTYPE html>
<html lang="en-US">
  <head>
    {% load staticfiles  %}
    <meta charset="UTF-8">
    <meta name="description" content="Portfolio and Blog">
    <meta name="keywords" content="Python, PostgreSQL, PostGIS, GIS">
    <meta name="author" content="Bruno Carballo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Home-Bruno</title>
  </head>
  <body>
      <header id="header">
        <div class="container">
        <nav class="navigation">
          <span class="nav-left">Bruno Carballo</span>
          <a href="{% url 'home' %}">Home</a>
          <a href="{% url 'allblogs' %}">Blog</a>
          <a href="https://github.com/godinenbicicleta">GitHub</a>
          <a href="{% static 'cv.pdf'%}">Resume</a>
        </nav>
        </div>
      </header>
      {% block content%}
      {% endblock %}
      <footer id="footer">
      <div class="container">
        <p>© Bruno Carballo {% now 'Y' %}</p>
      </div>
      </footer>
  </body>
</html>
