{% extends 'jobs/base.html' %}
{% block content%}
      <main>
        <section class="intro container">
          <div class="intro-box">
          <h1>Hi I'm Bruno</h1>
            <p>I'm constantly trying to learn new things, this website is me trying to learn Django as well as some HTML and CSS. I like riding my bike and doing data analysis.</p>
            <div class="goto">
            <a href="#">Projects</a>
            <a href="#">Job Experience</a>
            </div>
          </div>
          <img alt="profile-picture" src="{% static 'profile_picture.jpg' %}">
        </section>
        <hr class="container">
        <section class="container jobs">
          {% for job in jobs.all %}
          {% endfor %}
        </section>
      </main>

{% endblock %}
